
/*画像グループ　位置*/
.main_picdiv {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    z-index: 10;
}
/*画像サイズ*/
.main_picdiv_pic1 {
    width: 650px;
    height: 300px;
}
/*ヘッダ設定１*/
.header_inner {
    display: flex;
    justify-content: space-between;
}
/*ヘッダ左設定*/
.header_inner_left{
    font-weight: bold;
    text-align: left;
    margin-top:  20px;
    margin-left: 20px;
    color:blue;
    font-size: 30px;
}
/*ヘッダ右設定*/
.header_inner_right{
    text-align: right;
    margin-top: 20px;
}
/*メッセージ毎日を。。。。設定*/
.main_movingbox_tittle{
    font-size: 50px;
}
/*メッセージ下帯設定*/
.main_movingbox_band{
    width: 800px;
    height:200px;
    background-color: blue;
}
/*メッセージ　　帯位置*/
.main_movingbox{
    position: absolute;
    top: 300px;
    z-index: 0;
}
